{% extends 'base.html' %}

{% block content %}
<div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">
        Hi I am Ujjwal , FullStack Python Developer and Programming Instructor.
      </h1>
      <p class="hero-para">I work as a freelance fullstack python developer and as a remote programming instructor</p>
      <p class="hero-para">
        As a python devleoper, I make websites and web applications using python, django, html,css, javascript, and react.
        As a programming instructor, I learn python, django, html,css, javascript, and react to students all over the Nepal.
      </p>
    </div> 
    <div class="hero-img">
        {% load static %}
        <img src="{% static 'img/hero-img.png' %}" alt="" class="img-responsive">
    </div>

  </div>
  <div class="skills">
    <h5>Skills</h5>
    <div>
      <p>Python, Django, HTML,CSS, Javascript, React</p>
      <p> Github</p>
    </div>
  </div>
  <div class="softwares">
    <h5>Tools</h5>
    <div>
      <p>Visual Studio Code, Postman, Docker</p>
      </p>
     
    </div>
  </div>

  <hr class="line">
  <div class="contact">
    <h2>Get in touch with me &rarr; </h2>
    <div class="contact-links">
      <a href="mailto:ujjwallamsal96@gmail.com">ujjwallamsal96@gmail.com</a>
      <a href="#" target="_blank">View Resume</a>
  </div>
</div>
{% endblock content %}